<a href="https://colab.research.google.com/github/ShashankBDSC/air-bnb-EDA/blob/main/EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Type - EDA



Contribution - Individual

Author - SHASHANK BAJPAI

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/content/Airbnb NYC 2019.csv") # to read csv file into a dataFrame
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [4]:
df.shape # to know no. of rows and columns

(48895, 16)

In [7]:
df.sample(10) #to know how the data looks like

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
18706,14808499,"Large studio in Williamsburg, 3B",49704571,Krzysztof,Brooklyn,Williamsburg,40.71984,-73.94303,Entire home/apt,79,30,11,2019-05-31,0.35,8,136
47727,35879684,McCarren Park 3 Bed/2 Bath with private terrace,179237742,R David,Brooklyn,Williamsburg,40.71698,-73.95003,Entire home/apt,299,2,2,2019-06-30,2.00,1,298
9090,6969011,"BIG Beautiful private bedroom, 5 minutes to su...",107016,Grace,Brooklyn,Crown Heights,40.67618,-73.95133,Private room,47,14,9,2019-04-04,0.19,1,8
38353,30202750,"Large 2 BR, loft-like apartment in historic house",17011664,Ann Marie,Staten Island,St. George,40.64682,-74.08575,Entire home/apt,86,5,1,2019-01-03,0.16,1,43
41958,32611977,Mi casa es tu casa! Cozy & comfortable!,245160359,Arnol,Bronx,Belmont,40.85505,-73.89238,Private room,40,2,28,2019-07-06,6.72,1,84
8871,6799692,[206] 5 min WALK to Times Square,35524316,Yasu & Akiko,Manhattan,Hell's Kitchen,40.76180,-73.99093,Private room,255,1,192,2019-06-26,3.91,11,305
21502,17209321,Tranquil Room in Manhattan,45731391,Laurence,Manhattan,Lower East Side,40.72045,-73.99004,Private room,98,2,20,2019-06-23,0.77,3,0
35753,28368282,Terrific Apartment in the Heart of Williambsburg,9641129,Sam,Brooklyn,Williamsburg,40.71447,-73.95195,Private room,70,14,2,2018-10-27,0.20,1,18
8132,6269610,Heavenly Hell's Kitchen private room in 2bdrm,32582256,James,Manhattan,Hell's Kitchen,40.75691,-73.99840,Private room,99,2,35,2019-07-01,0.69,2,28
39489,30764665,Large one bedroom with 2 walk through living r...,230196849,Mariia,Manhattan,East Harlem,40.78909,-73.94153,Entire home/apt,350,2,4,2019-05-19,0.63,1,81

In [5]:
df.info() #to know about the data type of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [7]:
df.isnull().sum()#to know number of nul  values in each column

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

As we can see that last_review and reviews_per_month have large null values so we will with them later.

In [8]:
df['last_review']=pd.to_datetime(df['last_review'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

In [16]:
for i in df:
   print(i)
   print(len(df[i].unique()))   # to check number of unique values in each column

id
48895
name
47906
host_id
37457
host_name
11453
neighbourhood_group
5
neighbourhood
221
latitude
19048
longitude
14718
room_type
3
price
674
minimum_nights
109
number_of_reviews
394
last_review
1765
reviews_per_month
938
calculated_host_listings_count
47
availability_365
366

In [17]:
df.duplicated().sum()#  to check the duplicate values

0